.profile-page
  .page-header
    .container 
      .row
        .col-md-8-ml-auto-mr-auto 
          %h1 Inventory Updates
  .main.main-raised
    .container
      .section
        .features
          .row
            .col-7
              -# = column_chart @shoes, stacked: true, height: '550px'
              = bar_chart @shoes, stacked: true, height: '550px'
            .col-5
              .container
                %table.table.table-hover
                  %thead
                    %tr
                      %th Store Name
                      %th Shoe Model
                      %th Inventory
              .container{style: 'max-height: 450px; overflow: scroll;'}
                %table.table.table-hover
                  %tbody.table-wrapper#updates
