
#wrapper
  #content-wrapper
    .content-fluid
      .row
        .col
          = line_chart @reports
        .col
          .card
            .card-body
              %h5.card-title Inventory Updates
              .card-text#updates